@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lexend: 'Lexend', sans-serif;
}

body {
 color: #fff;
    background-color: #030516;
    font-family: var(--font-lexend);
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.6875em;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    -webkit-font-smoothing: antialiased;
}



@layer utilities {
  .section-padding {
    @apply px-5 md:px-10 lg:px-14 xl:px-28;
  }
   .section-padding-wide {
    @apply px-[11rem];
  }

  @media (min-width: 1280px) {
    .section-padding-wide {
      @apply px-[19.3rem];
    }
  }

  .section-margin {
    @apply mx-5; /* 1.25rem */
  }

  @media (min-width: 768px) {
    .section-margin {
      @apply mx-10; /* 2.5rem */
    }
  }

  @media (min-width: 1024px) {
    .section-margin {
      @apply mx-14; /* 3.5rem */
    }
  }

  @media (min-width: 1280px) {
    .section-margin {
      @apply mx-28; /* 7rem */
    }
  }

  .section-margin-wide {
    @apply mx-5; /* 1.25rem */
  }

  @media (min-width: 768px) {
    .section-margin-wide {
      @apply mx-10; /* 2.5rem */
    }
  }

  @media (min-width: 1024px) {
    .section-margin-wide {
      @apply mx-[11rem];
    }
  }

  @media (min-width: 1280px) {
    .section-margin-wide {
      @apply mx-[19.3rem];
    }
  }
}
